MONGO_URI=mongodb://root:password@mongodb:27017
DATABASE_NAME=tfgrid-kyc-db
PORT=8080
MAX_TOKEN_REQUESTS_PER_MINUTE=2
SUSPICIOUS_VERIFICATION_OUTCOME=verified
EXPIRED_DOCUMENT_OUTCOME=verified
CHALLENGE_WINDOW=120
IDENFY_BASE_URL=https://ivs.idenfy.com/api/v2
IDENFY_API_KEY=
IDENFY_API_SECRET=
IDENFY_CALLBACK_SIGN_KEY=
IDENFY_WHITELISTED_IPS=
TFCHAIN_WS_PROVIDER_URL=wss://tfchain.grid.tf
MIN_BALANCE_TO_VERIFY_ACCOUNT=1000000