MONGO_URI=mongodb://root:password@mongodb:27017
DATABASE_NAME=tfgrid-kyc-db
PORT=8080
CHALLENGE_WINDOW=120
VERIFICATION_SUSPICIOUS_VERIFICATION_OUTCOME=verified
VERIFICATION_EXPIRED_DOCUMENT_OUTCOME=verified
VERIFICATION_MIN_BALANCE_TO_VERIFY_ACCOUNT=1000000
IDENFY_BASE_URL=https://ivs.idenfy.com/api/v2
IDENFY_API_KEY=
IDENFY_API_SECRET=
IDENFY_CALLBACK_SIGN_KEY=
IDENFY_WHITELISTED_IPS=
TFCHAIN_WS_PROVIDER_URL=wss://tfchain.grid.tf
IP_LIMITER_MAX_TOKEN_REQUESTS=5
IP_LIMITER_TOKEN_EXPIRATION=24
ID_LIMITER_MAX_TOKEN_REQUESTS=5
ID_LIMITER_TOKEN_EXPIRATION=24